@model int
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-center" style="color:black">Order Submitted Successfully</h1>
        <img src="~/Images/Order Confirmation Images.png" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:forestgreen">
        <br />
        Thankyou For Your Order ! <br />
        We have received your order and we will send the follow up email <br />
        Your Order Number is :@Model
    </div>
</div>
</div>